@model CheeseMVC.ViewModels.AddEditCheeseViewModel 

<h2>@ViewBag.edit.Name : @ViewBag.edit.CheeseId</h2>

<form asp-controller="Cheese" asp-action="Edit" method="post">
    <input  asp-for="CheeseId" type="hidden" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" value="@ViewBag.edit.Name" />
    </div>
    <div class="form-group">
        <label  asp-for="Description"></label>
        <input class="form-control" asp-for="Description" value="@ViewBag.edit.Description" />
    </div>
    <input type="submit" value="Save Cheese" />
</form>

